@keyframes Ripple {
  0% {
    transform: rotate3d(0,0,0, 0deg)
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg)
  }
}

body {
  background-color: #E6E6FA;
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100vh;
  width: 100vw;
}

.tile {
  height: 100%;
  width: 100%;
  background-color: purple;
}

.column-5 {
  animation: 4s infinite Ripple;
  background-color: red;
}

#user-bar {
  position: absolute;
  top: 20px;
  right: 100px;
  display: flex;
  flex-direction: row;
}

#user-bar > button {
  position: relative;
  top: 15px;
  height: 20px;
}

#user-bar > * {
  padding-right: 10px;
}

#new-account-form{
  display: flex;
  flex-direction: column;
  width: 150px;
  justify-content: center;
}

#operator-tag {
  font-size: 12px;
  display: inline;
  padding-right: 10px;
  position: relative;
  top: -15px;
  left: 10px;
}

#post-summary {
  position: relative;
  top: -20px;
  left: 10px;
}

table, th, td {
  border: 1px solid;
}

#forum {
  position: relative;
  top: 100px;
  margin: auto;
  max-width: 50%
}

#post-preview-dateless {
  position: relative;
  top: -20px;
}

#tag-container {
  width: 150px;
  text-align: center;
}

#operator-tag {
  position: relative;
  top: 0px;
  height: 100px;
}

#operator-tag > span {
  display: flex;
  flex-direction: row;
  position: relative;
  top: -20px;
}

#operator-tag > span > p {
  padding-right: 10px;
}

#post {
  position: relative;
  margin: auto;
  max-width: 50%;
  top: 100px;
}

#operator-list {
  display: grid;
  height: 60vh;
  width: 100vh;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#operator-list > li {
  height: 100%;
  width: 100px;
}

#navbar {
  text-align: center;
}

#navbar > a {
  padding-right: 10px;
}

#create-new-operator {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
}

#post-edit-delete-buttons {
    position: relative;
    margin: auto;
    max-width: 50%;
    top: 100px;
    left: 800px;
}

#edit-post {
  margin: auto;
  max-width: 50%;
}

#home {
  text-align: center;
  margin: auto;
  max-width: 50%;
}

#home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#guidelines > li{
  padding-bottom: 15px;
}