@keyframes Ripple {
  0% {
    transform: rotate3d(0,0,0, 0deg)
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg)
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100vh;
  width: 100vw;
}

.tile {
  height: 100%;
  width: 100%;
  background-color: purple;
}

.column-5 {
  animation: 4s infinite Ripple;
  background-color: red;
}